{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid">

    <center>
         <h4 class="fw-bold mt-2">Order Form</h4>
    <form method="POST">
  {% csrf_token %}
 <div class="mb-3 ms-3 mt-3" style="width:50%;">
  <label class="form-label fw-bold">Address</label>
  <input type="text" class="form-control " name="a" placeholder="Enter Address">
</div>
<div class="mb-3 ms-3" style="width:50%;">
  <label  class="form-label fw-bold">Phone</label>
  <input type="number" class="form-control " name="p" placeholder="Enter Phone Number">
</div>
    <div class="mb-3 ms-3" style="width:50%;">
  <label  class="form-label fw-bold">Account Number</label>
  <input type="number" class="form-control " name="n" placeholder="Enter Account Number">
</div>

<div class="mb-5 ms-3" style="width:50%;">
    <button type="submit" class="form-control btn btn-warning fw-bold">Submit</button>
</div>

  </form>
        </center>
</div>
{% endblock %}