{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container-fluid">
    <div class="row mt-2 border border-1" style="margin-bottom:100px;">


    {% for i in o %}
    <div class="col-sm-4 ms-5">
        <img src="{{i.product.image.url}}" height="200px" width="200px">

    </div>
    <div class="col-sm-6 me-5 text-center">
        <h3 class=" fw-bold">Name of the Customer:{{u}}</h3>
        <b>ProductName:{{i.product}}</b><br>
        <b>Prodct Price:{{i.product.price}}</b><br>
        <b>Delivery Address:{{i.address}}</b><br>
        <b>Customer Phone:{{i.phone}}</b><br>
        <b>Ordered on:{{i.ordered_date}}</b><br>
        <b>Delivery Status:{{i.delivery_status}}</b><br>
    </div>
        </div>
</div>
    {% endfor %}
{% endblock %}